{
  BasedOnStyle: Google,
  BreakBeforeBraces: Attach,
  SpaceBeforeParens: Never,
  IndentWidth: 4,
  AccessModifierOffset: -4,
  AllowShortBlocksOnASingleLine: false,
  AllowShortCaseLabelsOnASingleLine: false,
  AllowShortFunctionsOnASingleLine: false,
  AllowShortIfStatementsOnASingleLine: true,
  AllowShortLoopsOnASingleLine: false,
  ColumnLimit: 119,
  TabWidth: 4,
  UseTab: "Never",
  SpacesBeforeTrailingComments: 1,
  AlignConsecutiveMacros: true,
}
