# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
.ipynb_checkpoints
__pypackages__/
*.sage.py
.env
.venv
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/

.pypirc
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

*.identifier